<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <h1>SQL Raw Query In Django</h1>

  

    <h2>Table Feedback</h2>
    {% for f in feed %}
    <h3>{{ f.name}}</h3>

    {% endfor %}
   


    <br/>
    <br/>

    <h2>Table Employee</h2>

    {% for e in emp %}
    <h3>{{ e.Employee_first_name}}</h3>

    {% endfor %}

    
</body>
</html>